accelerate==1.4.0
aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
decorator==5.2.1
diffusers==0.32.2
exceptiongroup==1.2.2
executing==2.2.0
fastapi==0.115.12
ffmpy==0.5.0
filelock==3.17.0
fonttools==4.56.0
frozendict==2.4.6
fsspec==2025.3.0
gradio==5.25.1
gradio_client==1.8.0
groovy==0.1.2
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
huggingface-hub==0.29.2
idna==3.10
importlib_metadata==8.6.1
ipython==8.35.0
jedi==0.19.2
Jinja2==3.1.6
jsonpickle==4.0.5
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
multitasking==0.0.11
networkx==3.4.2
numpy==2.2.2
opencv-python==4.11.0.86
orjson==3.10.16
packaging==24.2
pandas==2.2.3
parso==0.8.4
peewee==3.17.9
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
prosperity3bt==0.5.0
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.1
PyYAML==6.0.2
quanser-api @ file:///opt/quanser/python/quanser_api-2024.10.11-py2.py3-none-any.whl#sha256=92f065106f7157d4dd57b82076a53da5e9f9e94ac6d76f83820c3308553de16c
quanser-common==2024.10.11
quanser-communications==2024.10.11
quanser-devices==2024.10.11
quanser-hardware==2024.10.11
quanser-multimedia==2024.10.11
regex==2024.11.6
requests==2.32.3
rich==14.0.0
ruff==0.11.5
safehttpx==0.1.6
safetensors==0.5.3
scipy==1.15.2
seaborn==0.13.2
semantic-version==2.10.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
starlette==0.46.2
sympy==1.13.1
tokenizers==0.21.0
tomlkit==0.13.2
torch==2.6.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.67.1
traitlets==5.14.3
transformers==4.49.0
typer==0.15.2
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uvicorn==0.34.1
wcwidth==0.2.13
websockets==15.0.1
yfinance==0.2.53
zipp==3.21.0
